.home-page__preloader {
  position: absolute;
  z-index: 1500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0s ease-in-out 3.75s, top .35s ease-in-out 2.80s;
  @include tablet {
    height: 100vh;
  }
  .preloader__logo {
    position: relative;
    z-index: 2;
    width: 205px;
    height: 75px;
    opacity: 1;
    transition: width .45s ease-in-out, height .45s ease-in-out, opacity .45s ease-in-out 2.35s;
    @include tablet {
      width: 140px;
      height: 50px;
    }
    svg {
      width: 100%;
      height: 100%;
      path {
        fill: $black;
        transition: fill .45s ease-in-out .45s;
      }
    }
  }
  .preloader__images {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    width: 1200px;
    height: 700px;
    transition: width .45s ease-in-out 2.35s, height .45s ease-in-out 2.35s;
    @include tablet {
      width: 335px;
      height: 200px;
    }
    .images__image {
      position: absolute;
      top: 700px;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @include tablet {
        top: 200px;
      }
      &:nth-child(1) {
        z-index: 1;
        transition: top .45s ease-in-out .45s, opacity .10s ease-in-out 2.35s;
      }
      &:nth-child(2) {
        z-index: 2;
        transition: top .40s ease-in-out .90s, opacity .10s ease-in-out 2.35s;
      }
      &:nth-child(3) {
        z-index: 3;
        transition: top .40s ease-in-out 1.30s, opacity .10s ease-in-out 2.35s;
      }
      &:nth-child(4) {
        z-index: 4;
        transition: top .35s ease-in-out 1.70s, opacity .10s ease-in-out 2.35s;
      }
      &:nth-child(5) {
        z-index: 5;
        transition: top .30s ease-in-out 2.05s, width .45s ease-in-out 2.80s, height .35s ease-in-out 2.80s;
      }
    }
  }
  &.active {
    opacity: 0;
    @include tablet {
      top: 70px;
    }
    .preloader__logo {
      width: 525px;
      height: 190px;
      opacity: 0;
      @include tablet {
        width: 210px;
        height: 75px;
      }
      svg {
        path {
          fill: $white;
        }
      }
    }
    .preloader__images {
      width: 100vw;
      height: 100vh;
      .images__image {
        top: 0;
        &:nth-child(1) {
          opacity: 0;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          opacity: 0;
        }
        &:nth-child(4) {
          opacity: 0;
        }
      }
    }
  }
}